@using App.WebAPI.Core.Usuario
@using Microsoft.AspNetCore.Identity
@using App.WebApp.Mvc.Extensions
@using App.WebApp.Mvc.Helpers
@inject IAspNetUser AppUser

@if (AppUser.EstaAutenticado())
{
   @* <div>
        <vc:carrinho></vc:carrinho>
    </div>*@
    @*<div>
        <div class="dropdown d-inline-block">
            <a href="#" class="icontext dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
            </a>
            <div class="dropdown-menu dropdown-menu-left" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 12px; left: 91px; transform: translate3d(150px, 32px, 0px);">
                <a class="dropdown-item" href="#">Meu Perfil</a>
                <a class="dropdown-item" href="#">Meus Pedidos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Identidade" asp-action="Logout">Sair</a>
            </div>
        </div>
    </div>*@
    @*<ul>*@
        @*<li>
            <a>
                <img  class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
            </a>
        </li>*@
        @*<li><a asp-controller="Identidade" asp-action="Logout">Sair</a></li>*@
    @*</ul>*@
    <ul class="text-right">
        <li><a>Olá, @AppUser.ObterUserEmail()</a></li>
        <li><a asp-controller="Identidade" asp-action="Logout">Sair</a></li>
    </ul>
    
}
else
{
    <ul class="text-right">
        <li> <a asp-controller="Identidade" asp-action="Registro">Crie sua conta</a></li>
        <li> <a asp-controller="Identidade" asp-action="Login">Entrar</a></li>
    </ul>


        @*<div class="main-menu">
            <a asp-controller="Identidade" asp-action="Registro">Crie sua conta</a> <span> | </span>
            <a asp-controller="Identidade" asp-action="Login"> Login</a>
        </div>*@
}