@{
    ViewData["Title"] = "Sobre Nossa Página";
}

<div class="site-wrap">

   @* <div class="site-blocks-cover inner-page" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="site-block-cover-content">
                        <h2 class="sub-title">NerdShop, A maior loja nerd do Brasil</h2>
                        <h1>Sobre Nós</h1>
                        <p><a href="#" class="btn btn-black rounded-0">Conferir</a></p>
                    </div>
                </div>
                <div class="col-md-6 order-1 align-self-end">
                    <img src="~/" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
*@
    <div class="site-section site-section-sm site-blocks-1 border-0 mt-5" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-truck"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Frete Gratuito</h2>
                        <p>O envio do produto fica por nossa conta, não se preocupe, 
                            seu produto chegará com rapidez e eficiência em sua casa.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-refresh2"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Devoluções Gratuitas</h2>
                        <p>Não era o que esperava ou está com algum defeito? Relaxa, nós bancamos a 
                            devolução, entre em contato com nosso suporte. (suporte@nerdshop.com)</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-help"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Suporte Ativo</h2>
                        <p>Nosso time de suporte conta com um grande número de profissionais, 
                            qualquer dúvida fale conosco, estamos prontos para ajudar você.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <figure>
                            <img src="~/files/images/yoda-capa.jpg" alt="Image placeholder" class="img-fluid rounded">
                        </figure>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Como tudo teve início?</h2>
                    </div>
                    <p>Movidos pela paixão da tecnologia e a vontade de revolucionar o mercado de vendas com ecommerce, montamos a 
                        NerdShop a loja nerd, onde em poucos clicks e sem complicações, queremos que nossos usuários realizem seus pedidos 
                        com o máximo de conforto possível.</p>
                    <p>Expandimos a cada mês, nossa vasta coleção de produtos não para de crescer, além de estudos e planejamentos de novas coleções de produtos a todo vapor.</p>
                </div>
            </div>
        </div>
    </div>
</div>